@import url("https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h3 {
  font-size: 1rem;
  margin: 0.5rem 0;
}

.InverseContainer {
  background: #000;
  padding: 30rem 10rem;
}

svg {
  margin: 3rem;
}
