@import url("https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap");

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  margin: 0;
  font-family: "Barlow", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background: #fff;
}

svg {
  margin: 3rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

header {
  padding: 3rem;
}

pre {
  padding: 3rem;
  background: #f2f2f2;
}

h1 {
  margin: 0;
  font-size: 6rem;
}

.Docs {
  padding: 3rem;
  max-width: 1200px;
}
